﻿<div>
    <h1>Worker List</h1>

    <div class="row">
        <div class="col-md-12">
            <form @submit.prevent="search">
                <div class="form-group">
                    <label for="workerName">Worker Name:</label>
                    <input id="workerName" type="text" v-model="filter.wn" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="orderByz">Gender search:</label>
                    <select id="orderByz" v-model="filter.gor" class="form-control">
                        <option v-for="Goption in getGenderByOptions">{{ Goption }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="orderBy">Order selection:</label>
                    <select id="orderBy" v-model="filter.or" class="form-control">
                        <option v-for="option in getOrderByOptions">{{ option }}</option>
                    </select>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" id="isDescending" v-model="filter.iDesc" class="form-check-inline" />
                    <label class="form-check-label" for="isDescending">Is Descending?</label>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Weight</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="worker in getWorkerGrid.workers" :key="worker.workerId">
                <td>{{ worker.name }}</td>
                <td>{{ worker.weight }}</td>
                <td v-if="worker.gender">Male</td>
                <td v-else>Female</td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2>Create a New Worker</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form @submit.prevent="createWorker">
                    <div class="form-group">
                        <label>Worker Name:</label>
                        <input type="text" v-model="createField.Name"
                               required maxlength="255"
                               class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Weight:</label>
                        <input type="number" v-model="createField.weight"
                               required min="30" max="90"
                               class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Gender:</label><br />
                        <label>Male</label>
                        <input type="radio" v-model="createField.gender" value="true" />
                        <label>Female</label>
                        <input type="radio" v-model="createField.gender" value="false" />
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
